* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	color: #5E6754;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 4em;
	font-weight: 100;
}

h2 {
	color: #BCBBBB;
}

h3 {
	color: #BCBBBB;
	text-align: center;
	text-transform: uppercase;
}

hr {
	border-color: #5E6754;
}

.tagline {
	font-size: 1.5em;
}

.header {
	text-align: right;
	text-transform: uppercase;
}

.git-link {
	font-weight: 100;
	text-align: center;
}
