* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	color: #5e6754;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 4em;
	font-weight: 100;
	margin-bottom: 5px;
	margin-top: 10px;
}

h2 {
	color: #bcbbbb;
	margin-bottom: 15px;
	margin-top: 25px;
}

h3 {
	font-size: 2.2em;
	margin-top: 15px;
	text-align: center;
	text-transform: uppercase;
}

hr {
	background-color: #bcbbbb;
	border: 0;
	height: 0.25em;
	margin-bottom: 25px;
	margin-top: 12px;
}

.tagline {
	font-size: 1.5em;
}

.header {
	margin-top: 10px;
	text-align: right;
	text-transform: uppercase;
}

.git-link {
	color: #bcbbbb;
}
