<!-- Area of featured work -->
			<section>
				<header class="row">
					<div class="col-md-8">
						<h2>Featured Work</h2>
					</div>
					<div class="col-md-4">
						<h3>Side Bar</h3>
						<p>
							blahblahbla
						</p>
					</div>
				</header>

				<div class="row works">
					<!-- Resume -->
					<section class="col-md-4 work">
						<img class="img-responsive work-img" src="{{ site.url }}/img/resume.jpg" alt="Resume">
						<h3>Resume</h3>
						<a class="git-link" href="http://github.com/udacity/frontend-nanodegree-resume">frontend-nanodegree-resume</a>
					</section>
					<!-- Frogger -->
					<section class="col-md-4 work">
						<img class="img-responsive work-img" src="{{ site.url }}/img/frogger.jpg" alt="Frogger-like game">
						<h3>Frogger</h3>
						<a class="git-link" href="http://github.com/udacity/frontend-nanodegree-arcade-game">frontend-nanodegree-arcade-game</a>
					</section>
					<!-- Portfolio -->
					<section class="col-md-4 work">
						<img class="img-responsive work-img" src="{{ site.url }}/img/portfolio.jpg" alt="This portfolio">
						<h3>Portfolio</h3>
						<a class="git-link" href="http://github.com/SittingFox/frontend-nanodegree-portfolio">frontend-nanodegree-portfolio</a>
					</section>
				</div>
			</section>


		</main>

	</div>
</body>
</html>
